<h1>Liste de Pokémons</h1>

<!-- déclaration de variables référencées dans le template avec `#` -->
<!-- mise en place d'un événement keyup qui permettra de pousser directement la valeur dans l'interpolation input.value -->
<!-- keyup.enter est un pseudo événement pour mettre en place des évévénement plus précis -->
<input 
    #input
    (keyup.enter)="selectPokemon(input.value)" 
    type="number" 
/>

<!-- '*' permet d'indiquer une directive structurelle -->
<!-- 'ngIf' permet de conditionner un affichage -->
<p *ngIf="pokemonSelected">
    Vous avez sélectionné : {{ pokemonSelected.name }}
</p>
<p *ngIf="!pokemonSelected">
    Aucun pokémon n'a été trouvé.
</p>

<!-- 'ngFor' permet de boucler sur un tableau pour permettre un affichage -->
<p *ngFor=" let pokemon of pokemonList">
    {{ pokemon.name }}
</p>